.outline-0 {
    outline: none;
}

.w-95 {
    width: 95%;
}

.rotating {
    animation: rotation 1s ease-in-out;
}

@keyframes rotation {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.drag {
    cursor: grab;
}

.icon-05rem {
    width: 0.5rem;
    height: 0.5rem;
}

.icon-10rem {
    width: 1rem;
    height: 1rem;
}

.icon-15rem {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-20rem {
    width: 2rem;
    height: 2rem;
}
