.right-fixed {
    float: right;
}

.outline-0 {
    outline: none;
}

.w-95 {
    width: 95%;
}

.rotating {
    animation: rotation 1.5s ease-in-out;
}

@keyframes rotation {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}