extends layout 

block layout-content 
    .d-flex.h-100.flex-column
        .m-4
            a.btn.float-end.p-0(href="./logout")
                i.far.fa-sign-out.text-secondary.fa-2x
            a.btn.float-end.p-0.mx-3(href="./settings")
                i.far.fa-cog.text-secondary.fa-2x
            h1.p-0.m-0.text-secondary #{userData.name}'s notes
            a.btn.my-3.p-1.rounded-square.border-2.border-primary.text-primary(href="./document")
                i.fas.fa-plus.fa-lg.m-2.align-middle
                    p.ps-2.d-inline new note
            .sortable.user-select-none#sortable
                each identifier in userData.order
                    .maxw-42.mb-3.drag(id="doc"+identifier)
                        .py-2.px-3.rounded.shadow-lg.bg-body.d-flex.align-middle.align-items-center
                            .m-0.py-2.d-inline
                                i.fas.fa-bars.me-3.ms-1.handle(style="transform: scale(1.25,1);")
                                .d-inline.lead #{userData.documents[identifier].name}
                                - let redirect = "./document?id=" + identifier
                            .flex-grow-1
                            .m-0.p-0.d-flex-inline
                                a.btn.p-0.my-1.mx-2(href=redirect) 
                                    i.far.fa-edit.text-secondary.fa-lg
                                a.btn.p-0.my-1.mx-2(onclick="deleteDoc('" + identifier + "')")
                                    i.far.fa-trash-alt.text-danger.fa-lg
            if userData.order.length != 0
                .invisible.d-inline-block.py-2.px-3.rounded.shadow-lg.bg-body.lead#noneLeft Whoah, so empty O.o
            else
                .d-inline-block.py-2.px-3.rounded.shadow-lg.bg-body.lead#noneLeft Whoah, so empty O.o
    script(src="./dragManager.bundle.js", doc-parent=title)
    script(src="./documentManager.js")