extends layout 

block layout-content
    h1.my-5.text-center Your Amazing Note:
    div.shadow-lg.rounded.bg-body.my-5.w-50.mx-auto#editor
        p Hello World 
        p Some 
            strong Initial 
            | Text
        p 
            br
    script(src="./quill_scripts/quill.min.js") 
    script(src="./scripts/quill.bundle.js") 