extends layout 

block layout-content
    div.mx-auto.w-95.mt-5
        input(class="w-100 text-center h1 border-0 outline-0", placeholder="Your Amazing Note", spellcheck="false")
    div.shadow-lg.rounded.bg-body.my-5.w-95.mx-auto
        div#editor
    script(src="./quill_scripts/quill.min.js")
    script(src="./scripts/quill.bundle.js")
