extends layout 

block layout-content
    .mx-auto.w-95.mt-4.position-relative
        input.w-75.h1.border-0.outline-0#notename(placeholder="name your note", spellcheck="false", type="text")
        a.btn.float-end(href="./home")
            svg.text-secondary.icon-20rem
                use(xlink:href="bootstrap-icons.svg#x")
    .shadow-lg.rounded.bg-body.my-2.w-95.mx-auto
        #toolbar
            span.ql-formats
                select.ql-header
            span.ql-formats
                select.ql-align
            span.ql-formats
                button.ql-bold
                button.ql-italic
                button.ql-underline
                button.ql-strike 
                button.ql-link 
            span.ql-formats 
                select.ql-color
                select.ql-background
            span.ql-formats
                button.ql-script(value="sub")
                button.ql-script(value="super") 
            span.ql-formats 
                button.ql-list(value="ordered")
                button.ql-list(value="bullet")
            span.ql-formats 
                button.ql-image
                button.ql-video
                button.ql-formula
            span.ql-formats 
                button.ql-blockquote 
                button.ql-code-block
            span.ql-formats
                button.text-shortcuts#add-texting-shortcuts(data-bs-toggle="popover")
                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                        path(stroke-width="2" d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z")
                    span.invisible#text-shortcuts-popover
                        div.form-check.form-switch#texting-toggle
                            input.form-check-input(type="checkbox", checked = false)
                button#downloadPDF 
                    svg(width="16" height="16")
                        use(xlink:href="bootstrap-icons.svg#download")
            span.ql-formats.float-end
                button#sync-btn
                    svg(width="16" height="16" viewBox="0 0 24 24")
                        path.ql-fill(d="M9 12l-4.463 4.969-4.537-4.969h3c0-4.97 4.03-9 9-9 2.395 0 4.565.942 6.179 2.468l-2.004 2.231c-1.081-1.05-2.553-1.699-4.175-1.699-3.309 0-6 2.691-6 6h3zm10.463-4.969l-4.463 4.969h3c0 3.309-2.691 6-6 6-1.623 0-3.094-.65-4.175-1.699l-2.004 2.231c1.613 1.526 3.784 2.468 6.179 2.468 4.97 0 9-4.03 9-9h3l-4.537-4.969z")
        #editor
    script(src="./documentManager.js")
    script(src="./editor.bundle.js", note-id=identifier, doc-data=documentData, defer)