extends layout 

block layout-content 
    div#editor
        p Hello World 
        p Some 
            strong Initial 
            | Text
        p 
            br
    script(src="./quill_scripts/quill.min.js") 
    script(src="./scripts/quill.js") 