extends layout 

block layout-content
    div.mx-auto.w-95.mt-4
        input(class="w-100 h1 border-0 outline-0", placeholder="name your note", spellcheck="false")
    div.shadow-lg.rounded.bg-body.my-2.w-95.mx-auto
        div#editor
    script(src="./quill_scripts/quill.min.js")
    script(src="./scripts/quill.bundle.js")
