extends layout 

block layout-content
    div.mx-auto.w-50.mt-5
        input(class="w-100 text-center h1 border-0", type="text", placeholder="Your Amazing Note", style="outline: none;")
    div.shadow-lg.rounded.bg-body.mt-5.w-75.mx-auto#editor
    script(src="./quill_scripts/quill.min.js")
    script(src="./scripts/quill.bundle.js")