extends layout 

block layout-content
    .mx-auto.w-95.mt-4.position-relative
        input.w-75.h1.border-0.outline-0#notename(placeholder="name your note", spellcheck="false", type="text")
        a.btn.float-end(href="./home")
            svg.text-secondary.icon-20rem
                use(xlink:href="bootstrap-icons.svg#x")
    .shadow-lg.rounded.bg-body.my-2.w-95.mx-auto
        #toolbar
            span.ql-formats
                select.ql-header
            span.ql-formats
                select.ql-align
            span.ql-formats
                button.ql-bold
                button.ql-italic
                button.ql-underline
                button.ql-strike 
                button.ql-link 
            span.ql-formats 
                select.ql-color
                select.ql-background
            span.ql-formats
                button.ql-script(value="sub")
                button.ql-script(value="super") 
            span.ql-formats 
                button.ql-list(value="ordered")
                button.ql-list(value="bullet")
            span.ql-formats 
                button.ql-image
                button.ql-video
                button.ql-formula
            span.ql-formats 
                button.ql-blockquote 
                button.ql-code-block
            span.ql-formats
                button.text-shortcuts#add-texting-shortcuts(data-bs-toggle="popover")
                    svg(width="18" height="18" viewBox="0 0 24 24")
                        use(xlink:href="bootstrap-icons.svg#book")
                    span.invisible#text-shortcuts-popover
                        input#in(type="text", class="form-control", placeholder="IN")
                        input.my-2#out(type="text", class="form-control", placeholder="OUT")
                        input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
                        label(class="btn btn-outline-secondary" for="btn-check-2-outlined")
                        a.mx-2.d-inline(class="btn btn-outline-secondary", type="button", id="button-addon2") Button
            span.ql-formats.float-end
                button#sync-btn
                    svg(width="18" height="18" viewBox="0 0 24 24")
                        path.ql-fill(d="M9 12l-4.463 4.969-4.537-4.969h3c0-4.97 4.03-9 9-9 2.395 0 4.565.942 6.179 2.468l-2.004 2.231c-1.081-1.05-2.553-1.699-4.175-1.699-3.309 0-6 2.691-6 6h3zm10.463-4.969l-4.463 4.969h3c0 3.309-2.691 6-6 6-1.623 0-3.094-.65-4.175-1.699l-2.004 2.231c1.613 1.526 3.784 2.468 6.179 2.468 4.97 0 9-4.03 9-9h3l-4.537-4.969z")
        #editor
    script(src="./documentManager.js")
    script(src="./editor.bundle.js", note-id=identifier, doc-data=documentData, defer)