extends layout 

block layout-content
    div.mx-auto.w-50
        input(class="my-4 w-100 text-center h1 border-0", type="text", placeholder="Your Amazing Note")
    div.shadow-lg.rounded.bg-body.my-4.w-50.mx-auto#editor
    script(src="./quill_scripts/quill.min.js") 
    script(src="./scripts/quill.bundle.js") 