extends layout 

block layout-content 
    .d-flex.h-100.text-center.home-back
        .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
            header.mb-auto
                div
                    h3.float-md-start.mb-0 4Thought
                    nav.nav.nav-masthead.justify-content-center.float-md-end
                        a.nav-link.active(aria-current="page" href="#") Home
                        a.nav-link(href="#") About
                        a.nav-link(href="#") Register
            main.px-3.mb-auto
                h1 Welcome to 4Thought!
                p.lead A cloud-based adaptive note taking app built from the ground up for privacy and user comfort
                p.lead
                    a.btn.btn-lg.btn-secondary.fw-bold(href="./Home") Open Dashboard