extends layout 

block layout-content 
    div.w-95.mx-auto.mt-4
        a.float-end.btn.btn-primary.outline-0(href="./logout", type="button") Logout
        h1 Welcome #{userData.name}!
        a.btn.btn-primary(href="./editor") new notepad
        if userData.documents != null
            each document in Object.keys(userData.documents)
                .my-3.w-25 #{userData.documents[document].name}
                    - let redirect = "./document?id=" + document
                    - let del = redirect + "&del=true"
                    .float-end
                        a.btn.btn-primary.outline-0.mx-1(href=redirect) Edit
                        a.btn.btn-primary.outline-0.mx-1(href=del) Delete
                    