extends layout 

block layout-content 
    h1 Welcome to the settings. This will do something one day 
    a.btn.btn-secondary(href="./home") Go Back Home
    br
    | Things we need to do here: 
    br 
    | - Change name, password, email
    br
    | - Edit personal dictionary 
    br
    | - Export data 