extends layout 

block layout-content 
    div.w-95.mx-auto.mt-4
        a.float-end.btn.btn-primary.outline-0(href="./logout") Logout
        h1 Welcome #{name}!
        a.btn.btn-primary(href="./editor") new notepad