html, body {
    height: 100vh;
    background: #EEF2F7;
}

#notename {
    background: #EEF2F7;
}

.widget {
    width: 300px;
}

.widgetContent {
    background: #f1f2f6;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.tooltip-left {
    position: absolute;
    top: 100%;
    right: 0;
    width: 270px;
    padding: 10px;
    background: #fff;
    color: #000;
    border-radius: 8px;
    text-align: left;
    z-index: 999;
    font-size: 14px;
}

#save-time {
    color: #777;
    font-size: 13px;
}

#suggestions {
    min-width: 40px;
}

.outline-0 {
    outline: none;
}

.handle {
    cursor: grab;
}

.rotating {
    animation: rotation 1s ease-in-out;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.fas::before {
    position: relative;
    top: 1px;
}

.fas p {
    font-family: system-ui;
    font-weight: 500;
}
